body {
  text-align: center;
  background-color: #000;
  color: #0F0;
  font-family: "Comic Sans MS";
  padding: 0 20px 80px 20px;
}

a, a:visited {
  color: #0CF;
}

.tickets-on-sale {
  color: #F0F;
  font-weight: bold;
  font-size: 18px;
}

.ticket-price {
  color: #F0F;
}

.buy-ticket {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #F00;
  color: #000 !important;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

h1 {
  font-size: 48px;
  margin: 40px 0 0 0;
  padding: 10px 20px;
  border: 2px dashed #FF0;
  display: inline-block;
}

h2 {
  margin: 60px 0 20px 0;
  padding: 0;
}

header h1, header h2 {
  color: #FF0;
}

header h2 {
  margin: 20px 0 60px 0;
}

header {
  margin-top: 40px;
}

footer {
  margin-top: 100px;
}

footer, footer a, footer a:visited {
  color: #888;
}

table {
  margin: 0 auto;
}

td {
  width: 200px;
  text-align: center;
  padding: 10px;
}

.ticket {
  font-size: 24px;
}

.code-of-conduct {
  max-width: 600px;
  margin: 0 auto;
}

.speakers p {
  padding: 0;
  margin: 10px 0 20px 0;
}
